li {
    font-size: 0.9rem;
    text-align: left;
    cursor: pointer;
    transition: 0.3s all ease-out;
    background-color: rgba(0, 0, 0, 0.5);
}
.trail-detail:hover{
    /* background-color: var(--red-ruby-color); */
    background-color: var(--yellow-gamboge-color);
    color: black;
}
.trail-detail:active{
    scale: 125%;
    background-color: var(--yellow-gamboge-color);
}
/* div */
#results {
    padding: 0.5rem;
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    li {
        font-size: 0.8rem;
    }
}