li {
    font-size: 1.0rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
}
li.trail-detail:hover{
    /* background-color: var(--red-ruby-color); */
    background-color: var(--yellow-gamboge-color);
    color: black;
}
li.trail-detail:active{
    scale: 125%;
}
@media screen and (max-width: 768px) {
    li {
        font-size: 0.8rem;
    }
}