/* GLOBAL VARIABLES FOR ALL OF APP */
/* font family reference: Manrope (sans serif), Nunito (sans serif), Onest (sans serif), Roboto (sans serif), Roboto Serif (serif) */


/* DEFINING
 COLOR SCHEME */
:root {
    --black-root-color: rgb(0,18,25);
    --blue-sapphire-color: rgb(0,95,115);
    --green-viridian-color: rgb(10,147,150);
    --green-light-blue-color: rgb(148,210,189);
    --champagne-color: rgb(233,216,166);
    --yellow-gamboge-color: rgb(238,155,0);
    --orange-alloy-color: rgb(202,103,2);
    --orange-rust-color: rgb(187,62,3);
    --red-rufous-color: rgb(174,32,18);
    --red-ruby-color: rgb(155,34,38);

    --green-dark-color: rgb(61, 76, 46);
    --yellow-sun-color: rgb(248,212,73);
    --green-lighter-color: rgb(158,199,90);
    --bark-light-color: rgb(243,232,217);
    --bark-shadowed-color:rgb(153,147,138);
    --bark-dark-color: rgb(59,65,57);
    background: linear-gradient(270deg, var(--black-root-color) 0%, var(--green-viridian-color) 100%);

    /* container background */
    --background-gradient: var(--black-root-color);

    /* sun radial gradient */
    --background-sun-gradient: radial-gradient(circle 10rem at 25% 33%, white, yellow, lightyellow, aqua)

}